{% extends 'main/base.html' %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-4">
    <div class="content-section">
        <div class="media">
            <img src="{{ user.profile.profile_pic.url }}" alt="profile image" class="rounded-circle profile-img">
            <div class="media-body">
                <div class="ml-custom">
                <div class="display">
                <p class="custom-fontsize">{{ user.username }}</p>
                {% if user == user %}
                    <a href="{% url 'profile' %}" ><button class="btn btn-outline-primary">Edit Profile</button></a>
                {% endif %}
            </div>
                <p class="text-secondary"> Email: {{ user.email }}</p>
                <p class="text-secondary">Bio: {{ user.profile.bio }}</p>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8"></div>
</div><hr>
<div class="row">
    {% if images %}
        {% for image in images %}
        <div class="col-md-4">
            <img src="{{ image.image.url }}" alt="{{ image.image_name }} image" id="profile-images">
        </div>
        {% endfor %}
    {% else %}
        <h2 class="text-center">This user has not uploaded any images yet!!</h2>
    {% endif %}
</div>
</div>
{% endblock %}